$mat-card-header-bg: #EFEFF1 !default;
$mat-card-header-border-color: rgba(#000, .12) !default;

.flex {
    display: flex;
    justify-items: space-between;
}

mat-card {
    padding: 0 !important;
    
    mat-card-header {
        box-sizing: border-box;
        padding: 16px 24px;
        background: $mat-card-header-bg;
        border-bottom: 1px solid $mat-card-header-border-color;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

#intensity-selection {
    mat-slider {
        margin: 0 16px;
        width: 400px;
    }
}

.mat-column {
    &-time {
        width: 64px;
    }

    &-speaker {
        width: 72px;
    }

    &-sentence:not(.mat-header-cell) {
        .matcher {
            background: rgba(#5A5A71, .2);
            transition: background .2s;

            &:hover {
                background: rgba(#5A5A71, .4);
            }
        }
    }
}

tr.mat-row {
    height: auto;
}

td.mat-cell {
    border-bottom: none;
}