<ng-template #subHeader [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill fxLayoutGap.gt-md="15%">
        <div id="call-selection" fxFlex="50%">
            <mat-form-field floatLabel="never" fxFlex="50%">
                <mat-label>Agent</mat-label>
                <mat-icon matPrefix>supervised_user_circle</mat-icon>
                <mat-select disableOptionCentering formControlName="agent" panelClass="dropdown" (selectionChange)="handleAgentChange($event)">
                    <mat-option [value]="data.agent_id" *ngFor="let data of agentsData">{{ data.full_name }}</mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field floatLabel="never" fxFlex="50%" class="text-right">
                <mat-label>Call</mat-label>
                <mat-icon matPrefix>phone</mat-icon>
                <mat-select disableOptionCentering formControlName="call" panelClass="dropdown" (selectionChange)="handleCallChange($event)">
                    <mat-option [value]="call.call_id" *ngFor="let call of callsData">{{ call.call_start_time }} - {{ call.customer[0].full_name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div id="intensity-selection" fxFlex="50%" *ngIf="!emptyState">
            <mat-label>MATCHING SENSITIVITY</mat-label>
            <mat-slider min="0" max="100" step="1" formControlName="sensitivity" (input)="onSliderChange($event)"></mat-slider>
            <span>{{ form.get('sensitivity')?.value }}%</span>
        </div>
    </div>
</ng-template>
<section class="flex content" fxLayout="row" fxFlex="grow" fxLayoutAlign="space-between strech" fxLayoutGap="24px" *ngIf="!emptyState else emptyStateContainer">
    <mat-card fxFlex="grow">
        <mat-card-header>
            <mat-card-title>Real</mat-card-title>
            <app-pie-chart [pieChartData]="[transcriptsRatio, 1 - transcriptsRatio]"></app-pie-chart>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" width="100%">
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let transcript">
                        {{ transcript.time }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="speaker">
                    <th mat-header-cell *matHeaderCellDef>Speaker</th>
                    <td mat-cell *matCellDef="let transcript">
                        {{ transcript.speaker }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="sentence">
                    <th mat-header-cell *matHeaderCellDef>Sentence</th>
                    <td mat-cell *matCellDef="let transcript">
                        <div class="matcher" matTooltip="{{ transcript.similarity | percent }} matching with line #{{ transcript.matching_line || 'None'}} {{ transcript.matching_sentence }}" matTooltipPosition="above">
                            {{ transcript.sentence }}
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseleave)="resetHighlights()" (mouseenter)="highlightTranscript(row)" [class]="(matchingScriptOrder === row.order + 1) ? 'highlighted' : ((row.similarity * 100) >= form.get('sensitivity')?.value) ? 'matched-sensitivity' : null"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="grow">
        <mat-card-header>
            <mat-card-title>Expected</mat-card-title>
            <app-pie-chart [pieChartData]="[scriptsRatio, 1 - scriptsRatio]"></app-pie-chart>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSourceRep" width="100%">
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Line</th>
                    <td mat-cell *matCellDef="let transcript; let i = index">
                        {{ i + 1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="speaker">
                    <th mat-header-cell *matHeaderCellDef>Speaker</th>
                    <td mat-cell *matCellDef="let transcript">
                        Rep
                    </td>
                </ng-container>

                <ng-container matColumnDef="sentence">
                    <th mat-header-cell *matHeaderCellDef>Sentence</th>
                    <td mat-cell *matCellDef="let transcript">
                        <div class="matcher" matTooltip="{{ transcript.similarity | percent }} matching with line #{{ transcript.matching_line || 'None'}} {{ transcript.matching_sentence }}" matTooltipPosition="above">
                            {{ transcript.sentence }}
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseleave)="resetHighlights()" (mouseenter)="highlightScript(row)" [class]="(matchingTranscriptOrder === row.order + 1) ? 'highlighted' : ((row.similarity * 100) >= form.get('sensitivity')?.value) ? 'matched-sensitivity' : null"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</section>

<ng-template #emptyStateContainer class="empty-state">
    <div class="empty-state-content text-center">
        <img src="../../../../assets/img/no-selection.svg" alt="">
        <h2>Selection Pending</h2>
        <div>Select a call from top menu and a transcript analysis will be shown</div>
    </div>
</ng-template>